/* #2
box layout არის მთავარი ნაწილი ყველა ელემენტში htmlში
box layout ნაწილები არის:
margin > border > padding > content */

#mar{
    color: red;
    border: 2px solid maroon;
    margin: 70px 20px 40px 70px;
}

#pad{
    color: blue;
    border: 2px solid darkblue;
    padding: 20px 20px 20px 20px;
}